<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Contact_Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/A1_Q8_Stylesheet.css">
  <link rel="icon" href="/images/titleIMG.png">
</head>
<body>
  <div class="MainBody">
    <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for pet page goes here -->
    <div class="sideMenu">
        <p class="menu">Paw Menu</p>
        <!-- Navigation links to different pages -->
         
        <a href="/login">Login</a>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/Find_DOG_CAT">Find a Dog/Cat</a>
        <a href="/Dog_Care">Dog Care</a>
        <a href="/Cat_Care">Cat Care</a>
        <a href="/register">Register</a>
        <a href="/rehabilitate">Have a pet to give away?</a>
        <a href="/Contact_Us">Contact Us</a>
        <a href="/logout">Logout</a>
      </div>
      <div class="content">
        <p class="contentHeader">Contact Us</p>
        <!-- Text content providing contact options -->
        <p class="contentText">
          Adopters and supporters have the option to reach out to a Concordia Paw representative using one of the following contact methods.
        </p>
        <!-- List of contact information -->
        <ul class="contentList">
          <li>Student Name & ID: Narendra Mishra (40224303)</li>
          <li>Email: <a href="mailto:mishranarendra1208@gmail.com">mishranarendra1208@gmail.com</a></li>
          <li>GitHub: Mishra1208</li>
          <li>Address: 1455 Blvd. De Maisonneuve Ouest, Montreal, Quebec H3G 1M8</li>
        </ul>
      </div>
      <div class="footer">
        <%- include('footer') %>
      </div>
    </div>
    <script src="/js/script.js"></script>
    </body>
    </html>