<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Disclaimer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/A1_Q8_Stylesheet.css">
  <link rel="icon" href="/images/titleIMG.png">
</head>
<body>
  <div class="MainBody">
    <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for Home page goes here -->
    <div class="sideMenu">
        <p class="menu">Paw Menu</p>
        <!-- Navigation links to different pages -->
        <a href="/login">Login</a>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/Find_DOG_CAT">Find a Dog/Cat</a>
        <a href="/Dog_Care">Dog Care</a>
        <a href="/Cat_Care">Cat Care</a>
        <a href="/register">Register</a>
        <a href="/rehabilitate">Have a pet to give away?</a>
        <a href="/Contact_Us">Contact Us</a>
        <a href="/logout">Logout</a>
      </div>
<div class="content">
    <p class="contentHeader">Privacy Disclaimer</p>
    <!-- Text content explaining privacy and disclaimer policy -->
    <p class="contentText">
      At The Concordia Paw, your privacy is our priority. We are committed to safeguarding your
      personal information and ensuring its confidentiality. By using our website, you agree to
      our collection and use of data in accordance with our privacy policy. While we strive to
      provide accurate and up-to-date information, The Concordia Paw makes no warranties regarding
      the completeness or accuracy of the content. We are not responsible for any actions taken
      based on the information provided on this site. For detailed inquiries, please contact our
      representatives directly.
    </p>
  </div>
  <div class="footer">
    <%- include('footer') %>
  </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
