<header>
    <table>
      <tr>
        <td><a href="/"><img class="headerImage" src="/images/CatDog.jpeg" alt="CAT AND DOG"></a></td>
        <td class="headerTitle" id="headerText">The Concordia Paws<br>
          <span class="headerSubtitle">A haven for pets seeking loving homes within the Concordia family</span>
        </td>
      </tr>
    </table>
    <p class="headerSubtitle DateTime"><%= currentDateTime %></p>
  </header>
  